a,p,h1,h2,h3,h4,h5,h6,ol,ul,li{
    font-family: 'Lato', 'Noto Serif TC',sans-serif ;
    color: #363640;
}
a:hover{
    color: #166bb6;
    text-decoration: none;
}
ol, ul{
  list-style: none;
  padding-inline-start: 0;
}

/* projects */
.wrapper{
  max-width: 90vw;
  margin: 0 auto;
}
.menu-center{
  height: 15vh;
  margin: auto;
  align-items: center;
}
.project{
  height: 70vh;
  margin: auto;
  padding-top: 15vh;
  align-items: center;
}
.project-name{
  font-family: 'Lato', 'Noto Serif TC',sans-serif ;
  font-size: 38px;
  font-weight: bold;
  color: #363640;
  letter-spacing: 2px;
}
.project-intro{
  line-height: 1.7em;
  text-align: justify; 
  letter-spacing: 2px;
}
.casestudy{
  font-family: 'Noto Serif TC',sans-serif ;
  font-weight: bold;
}
.photo{
  height: 50vh;
}
.hover-effect a img{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover-effect a:hover img{
  opacity: .7;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.zhfont{
  font-size: 0.9em;
}
.comment{
  color: #999;
  font-size: 14px;
}
.tag{
  color: rgb(134, 134, 134);
  font-family: 'Noto Serif TC',sans-serif ;
}

/* link animation */
a.link-animation{
  text-decoration: none;
  transition: color .4s ease-out;
}
a.link-animation:hover{
  color: #166bb6;
  text-decoration: none;
}
a.link-animation{
  text-decoration: none;
  position: relative;
}
a.link-animation:after{
  border-radius: 1em;
  border-top: .12em solid #166bb6;
  content: "";
  position: absolute;
    right: 100%;
    bottom: -.1em;
    left: 0;
    transition: right .2s ease-in-out, border-color .2s ease-out;;
}
a.link-animation:hover:after{
  right: 0;
}

/* about */
.about-intro{
  margin-top: 12vh;
}
.title{
  font-family: 'DM Serif Text', serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 0.91vw;
  letter-spacing: 4px;
}
.sub{
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: rgba(54, 54, 64, 0.67);
  letter-spacing: 2px;
  font-weight: 700;
}
.paragraph{
  margin: 0; 
  text-indent: 2em;
}
.text{
  line-height: 2em;
}

/* case study */
.photo-center{
  margin: auto;
}
.first{
  height: 85vh;
}
.case-name{
  font-family: 'Lato', 'Noto Serif TC',sans-serif ;
  font-size: 38px;
  font-weight: bold;
  color: #363640;
  letter-spacing: 2px;
}
.case-photo{
  height: 60vh;
  width: 70vw;
}
.case-content{
  max-width: 70vw;
  margin: 0 auto;
}
.case-text{
  line-height: 1.7em;
}
.case-sub{
  line-height: 1.7em;
  text-decoration:underline;
  font-weight: 700;
}
.case-s-content{
  max-width: 66.67%;
  margin: auto;
}
.photo-member{
  width: 40%;
  margin-left: 5%;
  margin-right: 10%;
}
.photo-projecttime{
  width: 40%;
  /* padding: auto; */
}
.photo-mtb{
  margin-top: 4em;
  margin-bottom: 4em;
}
.photo-bg{
  background-color: beige;
}
.feature-mt{
  margin-top: 2em;
  margin-bottom: 1em;
}
.feature-icon{
  height: 60px;
  object-fit: contain;
  margin: auto;
}
.feature-text{
  width: 80%;
  margin: auto;
}
.icon-bg{
  background-color: #535C6920;
  height: 160px;
  border-radius: 10px;
}
.projects-list{
  height: 120px;
  margin: auto;
}
.projects-link{
  color: rgb(151, 151, 151);
}
.active-color{
  color: #0F4C81;
}
